$card-bg-drk-mode: hsl(209, 23%, 22%);
$Very-dark-blue: hsl(207, 26%, 17%);
$Dark-mode-bg: hsl(207, 26%, 17%);
$light-mode-text-clr: hsl(200, 15%, 8%);
$light-mode-bg-clr: hsl(0, 0%, 98%);
$small-txt-clr:  hsl(0, 0%, 52%);
$white: hsl(0, 0%, 100%);
$Card-bg-light-mode: hsl(0, 0%, 100%);


